@use '../util' as *;

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: var(--font-body);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: rem(32);
  font-weight: 700;

  @include breakpoint-up(medium){
    height: 100vh;
    display: grid;
    align-items: center;
  }
}