:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  // Theme 1
  --text-color: hsl(0, 0%, 100%);
  --main-bg: hsl(222, 26%, 31%);
  --toggle-keypad-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);
  --key-bg: hsl(225, 21%, 49%);
  --key-shadow: hsl(224, 28%, 35%);
  --ky-bg-toggle: hsl(6, 63%, 50%);
  --key-shadow-equal: hsl(6, 70%, 34%);
  --num-key-bg: hsl(30, 25%, 89%);
  --num-key-shadow: hsl(28, 16%, 65%);
  --num-key-text: hsl(221, 14%, 31%);
  --num-key-text-equal: hsl(0, 0%, 100%);
}

// Theme 2
@media (prefers-color-scheme: light){
  :root {
    --text-color: hsl(60, 10%, 19%);
    --main-bg: hsl(0, 0%, 90%);
    --toggle-keypad-bg: hsl(0, 5%, 81%);
    --screen-bg: hsl(0, 0%, 93%);
    --key-bg: hsl(185, 42%, 37%);
    --key-shadow: hsl(185, 58%, 25%);
    --ky-bg-toggle: hsl(25, 98%, 40%);
    --key-shadow-equal: hsl(25, 99%, 27%);
    --num-key-bg: hsl(30, 25%, 89%);
    --num-key-shadow: hsl(35, 11%, 61%);
    --num-key-text: hsl(60, 10%, 19%);
    --num-key-text-equal: hsl(0, 0%, 100%);
  }
}

// Theme 3
@media (prefers-color-scheme: dark){
  :root {
    --text-color: hsl(52, 100%, 62%);
    --main-bg: hsl(268, 75%, 9%);//
    --toggle-keypad-bg: hsl(268, 71%, 12%);//
    --screen-bg: hsl(268, 71%, 12%);//
    --key-bg: hsl(281, 89%, 26%); //
    --key-shadow: hsl(285, 91%, 52%); //
    --ky-bg-toggle: hsl(176, 100%, 44%);//
    --key-shadow-equal: hsl(177, 92%, 70%);
    --num-key-bg: hsl(268, 47%, 21%); //
    --num-key-shadow: hsl(290, 70%, 36%); //
    --num-key-text: hsl(52, 100%, 62%); //
    --num-key-text-equal: hsl(198, 20%, 13%); //
  }
}