@use '../util' as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(30);
  padding-top: rem(30);

  @include breakpoint-up(medium){
    padding: 0;
  }

  h1{
    font-size: rem(31);
    color: var(--text-color);
  }

  .theme {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 0;

    .labels {
      width: rem(72);
      margin-left: auto;
      display: flex;
      justify-content: space-around;
      gap: rem(17);
      margin-bottom: rem(5);
      padding-inline: rem(7.5);
      font-size: rem(12);
      color: var(--text-color);
    }

    .toggle {
      display: flex;
      align-items: center;
      gap: rem(27);
      font-size: rem(12);
      text-transform: uppercase;
      color: var(--text-color);
    }

    .radio-btn {
      display: flex;
      align-items: center;
      border-radius: rem(20);
      padding-inline: rem(7.5);
      padding-block: rem(4);
      background-color: var(--toggle-keypad-bg);

      input[type='radio']{
        border-radius: 50%;
        padding: 0;
        margin: 0;
        appearance: none;
        height: rem(19);
        width: rem(19);
        cursor: pointer;
      }

      input[type='radio']:checked {
        border: none;
        background-color: var(--ky-bg-toggle); // Temporary
        border-radius: 50%;
        height: rem(19);
        width: rem(19);
      }
    }
  }
}